nav {
    background-color: #000000;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: left;
    padding-left:10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 14px 10px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
    filter: brightness(50%);
}

a {
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

a.active {
    color: #00C6A7;
    text-decoration: underline;
    font-weight: bold;
}

.company-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 45px;
    height: auto;
    background-color: white;
}